.cart-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.seller-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seller-name {
    font-weight: 800;
    margin-left: .5em;
}

.cart-center {
    display: flex;
    flex-flow: row;
}

.cart-center-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1em;
}

#quant-cart {
    width: 3em;
}

.cart-price {
    font-weight: 800;
    font-size: 1.2em;
    margin-left: auto;
    padding-right: 15px;
}

.cart-checkout-arranged {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.checkout-div {
    margin-top: 10%;
    text-align: center;
}

.span-price {
    margin-left: 3em;
}

.checkout-button {
    font-size: 1.2em;
    padding: .6em 1.5em .6em 1.5em;
    width: 9em;
}