.popular-outer {
    margin-right: 10%;
    margin-left: 10%;
}
.popular-div {
    display: flex;
    flex-wrap: nowrap;
    gap: 5%;
    margin: auto;
    justify-content: center;
}

.info-div p {
    margin: 0;
}

.popular-div > div {
    max-width: 19%;
}

.tagline {
    background-color: aliceblue;
    text-align: center;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}