.review-profile {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.review-userinfo {
    display: inline-block;
    padding: 10px;
}

.single-review {
    border-bottom: 1px solid gray;
    width: 700px;
}

.review-total {
    border-bottom: 2px solid gray;

}