.review-profile {
    height: 1.875rem;
    width: 1.875rem;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: sub;
}

.review-userinfo {
    display: inline-block;
    padding: 10px;
    color: gray;
}

.single-review {
    border-bottom: 1px solid gainsboro;
    width: 700px;
}

.review-total {
    border-bottom: 2px solid gainsboro;
    width: 700px;

}

.listing-image {
    max-width: 37.5rem;
    max-height: 37.5rem;
    min-width: 18.75rem;
    min-height: 18.75rem;
    object-fit: contain;
    border-radius: 6px;
}

.underline {
    text-decoration: underline;
}

.single-outer-div {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.add-cart-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.one-space-down {
    margin-bottom: .5rem;
}

.space-right {
    margin-right: .5em;
}

.single-center-div {
    margin-left: 3em;
}

.width {
    width: 100%;
}

.description-div, .price-div {
    width: 18.75rem;
}

.review-div {
    padding-left: 25%;
    padding-right: 25%;
}

.leave-review-button {
    margin-bottom: 1.3rem;
}