
@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Red+Hat+Display&display=swap');


* {
    font-family: 'Red Hat Display', sans-serif;
}

.hidden {
    display: none;
}

.errors {
    color: red;
    margin: 0;
}

a {
    text-decoration: none;
}

.button-white {
    color: black;
    background-color: white;
    cursor: pointer;
    border: 2px solid black;

}

.button-black {
    color: white;
    background-color: black;
    cursor: pointer;
    border: 2px solid black;

}

button {
    color: white;
    background-color: black;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 24px;
    padding: 2px 1em;
    min-width: 6em;
}

.no-button {
    color: black;
    background-color: transparent;
    border: none;
}

.button-disabled {
    color: rgb(168, 168, 168);
    background-color: gainsboro;
    border: 0;
}

.flex-div {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 15px;
}

.block {
    display: block;
}

.hover-focus :hover {
    background-color: gainsboro;
    border-radius: 24px;
}

.five-padding {
    padding: 5px;
}

.flex {
display: flex;
}

.text-align {
text-align: center;
}

textarea {
    resize: none;
    padding-left: .5em;
}

.text-review-modal {
    font-size: 1em;
}

.margin-bottom {
    margin-bottom: .5rem;
}

.p-formatting {
    margin: 0;
}

.button-font {
    font-weight: 500;
    font-size: 1em;
}

.button-delete {
    padding: 8px;
    font-weight: 500;
    font-size: 1em;
  }