.hidden {
    display: none;
}

.errors {
    color: red;
    margin: 0;
}

a {
    text-decoration: none;
}


.button-white {
    color: black;
    background-color: white;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
}

.button-black {
    color: white;
    background-color: black;
    cursor: pointer;
    border: 0;
    border-radius: 7px;
}

button {
    color: white;
    background-color: black;
    cursor: pointer;
    border: 0;
    border-radius: 7px;
    padding: 5px;
}

.flex-div {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 15px;
}

.block {
    display: block;
}