.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    flex-flow: row nowrap;
    padding-inline-end: 40px;
}

.fa-solid, a {
 color: black;
}

.profile-dropdown {
    position: absolute;
    right: 40px;
    z-index: 1000;
    border: 1px solid gainsboro;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 1rem;
    text-align: center;
  }

  .profile-dropdown2 {
    position: absolute;
    right: 40px;
    z-index: 1000;
    border: 1px solid gainsboro;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 0;
    text-align: center;
    width: 9.3rem;
    height: 4rem;
  }

  .profile-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .profile-dropdown > li {
    text-decoration: none;
    list-style: none;
  }

  .profile-dropdown :first-child {
    margin-bottom: 5px;
  }

  .betsy {
    font-family: 'Peralta', serif;
    color: black;
    font-size: 2em;
  }

  .right-spacer {
    margin-right: .8em;
  }

.category {
  position: absolute;
    z-index: 1000;
    border: 1px solid gainsboro;
    background-color: white;
    top: 130%;
    left: 10%;
    list-style: none;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px gray;
    width: 90px;
}


.fa-bars {
  font-size: large;
}

.category-text {
  font-size: 16px;
}

.right-side, .left-side {
  display: flex;
  align-items: center;
}

.relative {
  position: relative;
}

#all-cow {
  padding-left: 10px;
  padding-right: 10px;
}

#cart-number {
  font-size: .75em;
  font-weight: bold;
  background-color: cornflowerblue;
  border: 2px solid white;
  border-radius: 100%;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  position: absolute;
  top: 9px;
  right: 140px;
}

.fa-cart-shopping, .fa-cow {
  font-size: 1.2em;
}

.cart-padding {
  padding-left: 8px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 6px;
}

.profile {
  height: 1.875rem;
  width: 1.875rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid white;
  outline: 2px solid black;
}

.fa-user-circle {
  font-size: 2em;
}

.login-signup {
  cursor: pointer;
  display: block;
  width: inherit;
  padding-top: .1em;
  padding-bottom: .1em;
}

.login-signup:hover {
  background-color: gainsboro;
}

#hidden-prof {
  display: hidden;
}

.logout-button {
  margin-top: .5rem;
}

.profile-arrow {
  margin-left: .5em;
  font-size: larger;
  vertical-align: .5em;
}

.logged-out-arrow {
  margin-left: .5em;
  font-size: larger;
  vertical-align: .3em;
}

.category-li {
  margin-left: -15px;
  margin-right: -15px;
}

.category-li:hover {
  background-color: gainsboro;
  text-decoration: underline;
}

.nav-button-padding {
  padding: 10px;
}