.login-form {
    display: flex;
    flex-direction: column;
}

.button-demo {
    background-color: darkturquoise;
    border: solid 1px darkblue;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 5px;
}